.Forecast{
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
    width: 14rem;
	box-shadow: 0 5px 12px 0 #0f0f0f9f;
    transition: all 0.5s;
    z-index: 0;
    transition: --gradient1 .2s, --gradient2 .3s, --gradient3 .4s, --gradient4 .5s, --gradient5 .6s, --gradient6 .7s;

    background-image: linear-gradient(
        30deg,
        var(--gradient1) 0%,
        var(--gradient2) 60%,
        var(--gradient3) 70%,
        var(--gradient4) 82%,
        var(--gradient5) 84%,
        var(--gradient6) 100%
    );
}
.Forecast:hover{
    border-color: black;
    transform: scale(1.2);
    --gradient1:rgb(31, 41, 102);
    --gradient2:rgb(31, 41, 102);
    --gradient3:rgb(46, 56, 117);
    --gradient4:rgb(59, 68, 126);
    --gradient5:rgb(59, 68, 126);
    --gradient6:rgb(67, 76, 139);


}
@property --gradient1 {
    syntax: '<color>';
    initial-value: rgb(31, 41, 102);
    inherits: false;
}

@property --gradient2 {
    syntax: '<color>';
    initial-value: rgb(31, 41, 102);
    inherits: false;
}
@property --gradient3 {
    syntax: '<color>';
    initial-value: rgb(31, 41, 102);
    inherits: false;
}
@property --gradient4 {
    syntax: '<color>';
    initial-value: rgb(31, 41, 102);
    inherits: false;
}
@property --gradient5 {
    syntax: '<color>';
    initial-value: rgb(46, 56, 117);
    inherits: false;
}
@property --gradient6 {
    syntax: '<color>';
    initial-value: rgb(52, 62, 126);
    inherits: false;
}