@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Krub:wght@300&family=Noto+Sans+Display:wght@300&display=swap");
.App {
	font-family: Krub, sans-serif;
	text-align: center;
	margin: auto;
	align-items: center;
}

